---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Jhoan David Pillapa Llerena</h1>
			<p class="hero__text">
				Data Analyts
			</p>
			<Boton href="#about" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="https://media.licdn.com/dms/image/v2/D5603AQETs7OEDj0fRQ/profile-displayphoto-shrink_800_800/B56ZSwS5U4GUAk-/0/1738124532020?e=1757548800&v=beta&t=F6FsCIj6D34jX_tpD_UlAR3gm4gMV4ktI7dSjjE6HZI"
		alt="Jhoan David"
		width="384"
    	height="384"
	/>
	</div>
</section>
