---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://avatars.githubusercontent.com/u/66537133?v=4"
			alt="Foto de perfil de Jhoan"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mi" />
			<p class="about__text">
				Ingeniero Gestión Calidad de Red en Telefónica Ecuador, realízo analísis de datos, desarrollo de Dashboard en Power BI sobre Gestión de Tickets, NPS de satisfacción del Cliente B2B, B2C, NPS de Red. 
				Me apasiona por la enseñanza y los datos.	
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
