---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://avatars.githubusercontent.com/u/66537133?v=4"
			alt="Foto de perfil de Jhoan"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mi" />
			<p class="about__text">
				Ing. Telecomunicaciones, apasionado por los datos. 
				Me apasiona por la enseñanza.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
